:root {
    --color-primary: #008cff;
    --color-btn-primary-bg: linear-gradient(93deg, #53b2fe, #065af3);
    --color-btn-primary-text: #fff;
    --color-btn: #008cff;
    --btn-border-radius: 4px;
}

.homeContainer {
    width: 100%;
    height: 100%;
}

.sliderContainer {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: var(--color-btn-primary-text);
    padding: 30px 50px 25px 50px;
    border-radius: 10px;
}

.each-slide>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    padding: 10px 50px;
    margin: 20px 10px 5px 10px;
    border-radius: 7px;
}

.homeTitle {
    font-size: 25px;
}

.homeSubTitle {
    font-size: 90px;
    font-weight: 600;
    color: white;
}

.left-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 72px;
    top: 30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 4px rgb(10 10 10 / 3%);
}

.right-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    top: 30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 4px rgb(10 10 10 / 3%);
}

.left-arrow:hover {
    cursor: pointer;
}

.right-arrow:hover {
    cursor: pointer;
}

.ind-slide {
    background-color: "#fff";
    box-shadow: 0 2px 5px 2px rgb(10 10 10 / 10%);
}

.sliderTitle {
    display: flex;
}

.sliderLinks {
    margin-left: 20px;
    display: flex;
}

.indLinks {
    margin: 0px 10px;
}

.indLinks:hover {
    cursor: pointer;
}