:root {
    --color-primary: #008cff;
    --color-btn-primary-bg: linear-gradient(93deg, #53b2fe, #065af3);
    --color-btn-primary-text: #fff;
    --color-btn: #008cff;
    --btn-border-radius: 4px;
}

/* .homeContainer {
    width: 100%;
    height: 100%;
} */

.sliderContainer {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: var(--color-btn-primary-text);
    padding: 30px 50px 25px 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.each-slide>div {
    padding: 10px;
    margin: 20px 10px 5px 10px;
    border-radius: 7px;
}

.homeTitle {
    font-size: 25px;
}

.homeSubTitle {
    font-size: 90px;
    font-weight: 600;
    color: white;
}

.left-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 72px;
    top: 30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 4px rgb(10 10 10 / 3%);
}

.right-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    top: 30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 4px rgb(10 10 10 / 3%);
}

.left-arrow:hover {
    cursor: pointer;
}

.right-arrow:hover {
    cursor: pointer;
}

.ind-slide {
    display: flex;
    flex-direction: row;
    background-color: "#fff";
    box-shadow: 0 2px 5px 2px rgb(10 10 10 / 10%);
}

.sliderTitle {
    display: flex;
}

.sliderLinks {
    margin-left: 20px;
    display: flex;
}

.indLinks {
    margin: 0px 10px;
}

.indLinks:hover {
    cursor: pointer;
}

.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imageSection img {
    width: 150px;
    height: 85%;
    border-radius: 5px;
}

.imageSection p {
    font-size: 12px;
    color: #9B9B9B;
}

.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.offerCardTitle {
    font-size: 12px;
    color: #9B9B9B;
    margin: 0px 0px 5px;
}

.offerCardSubTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px;
}

.divider {
    width: 40px;
    height: 1px;
    background-color: #eb2026;
    margin: 0px 0px 10px;
}

.offerCardOffers {
    font-size: 14px;
    color: #9B9B9B;
}

.knowMore {
    display: flex;
    justify-content: end;
}

.knowMore p {
    font-size: 14px;
    color: #008cff;
    font-weight: bold;
}

.knowMore p:hover {
    cursor: pointer;
}

@media (min-width:768px) and (max-width:1023px) {
    .contentSection {
       width: 100%;
    }
}

@media (min-width:575px) and (max-width:767px) {
    .contentSection {
       width: 100%;
    }

    .offerCardTitle {
        font-size: 10px;
    }
    
    .offerCardSubTitle {
        font-size: 15px;
    }
    
    .offerCardOffers {
        font-size: 12px;
    }
    
    .knowMore p {
        font-size: 12px;
    }
}

@media only screen and (max-width:574px) {
    .contentSection {
       width: 100%;
    }

    .sliderContainer {
        padding: 30px 10px 25px 10px;
    }

    .offerCardTitle {
        font-size: 10px;
    }
    
    .offerCardSubTitle {
        font-size: 15px;
    }
    
    .offerCardOffers {
        font-size: 12px;
    }
    
    .knowMore p {
        font-size: 12px;
    }
}