.mainContainer {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: var(--color-btn-primary-text);
    padding: 25px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.indContainer {
    display: flex;
    margin: 10px 0px;
}

.indContainer img {
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
}

.indCardTitle {
    font-size: 18px;
    margin: 0px 0px 5px;
    font-weight: 400;
}

.indCardLocation {
    font-size: 12px;
    color: #4a4a4a;
}

.span {
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width:574px) {
 
    .mainContainer {
        padding: 25px 20px;
    }
}