.container{

    /* max-height: 300px; */
    /* width: 62%; */
    width: 900px;
    border: 1px solid gray;
    border-radius: 4px;
     display: flex;
     
     height: 280px;
     justify-content: space-between;
    
     margin: auto;
     margin-top: 20px;
    
     
}

.container:hover{
    border: 1px solid #008CFF;
    /* color: red; */
    cursor: pointer;
}
/* left */

.leftdiv{
   
    display: flex;
    flex-direction: column;
    align-items: center;



}

.leftdiv .bigimg img{
   
   height: 170px;
   width: 247px;
   padding: 20px 20px 10px 20px;
   border-radius: 4px 4px 0px 0px;
  /* border: 1px solid  red; */

}
.leftdiv .smallimg{
    display: flex;
  gap:  5px;
}
.leftdiv .smallimg img{
    height: 48px;
    width: 58px;
}


/* middle */
.middlediv{
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
    width: 500px;
}
.firstdiv{

    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    
}
.firstdiv h2{
   
  /* margin: 0px;
  padding: 0px; */
   margin-left: -40px;
}

.ratingdiv{
 display: flex;
 justify-content: space-between;
 align-items: center;
 
 gap: 7px;
 
}

.ratingdiv img{
    height: 16px;
    width: 16px;
}

.ratingdiv p{
    background-color: #249995;
    font-size: 12px;
    color: white;
    padding: 4px;
    border-radius: 3px;
}

.p_tagrating{
    /* background-color: red; */
    font-size: 11px;
    color: #4A4A4A;
    margin: -10px 0px 0px 0px;
}

.place_name{
    font-size: 12px;
    color: #9B9B9B;
    font-weight: bold;
    margin-bottom: 5px;
}

.couple_friendly{
    color: #4A4A4A;
    background-color: #EBEBEB;
       margin-top: 5px;
       margin-bottom: 7px;
       width: fit-content;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 4px;
}
.checkdiv{
    display: flex;
    align-items: center;
}
.breakfast{
    color: #1A7179;
    font-size: 12px;
   
}

.check{
 font-size: 18px; 
 color: #1A7179;
}






/* last */
.rightdiv{
    background-color: rgb(222, 240, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 220px;
     

}
.cost{

    margin: 120px  0px;
    padding: 20px;
   
}

.cutting_cost{

    font-size: 16px;
    color: #9B9B9B;
    /* margin: 0px 0px 5px; */
    text-decoration: line-through;
    margin-top: 0px;
}
.actuall_cost{

     font-size: 26px;
     font-weight: bold;
     margin-top: 0px;
}

.taxes_cost{
    font-size: 12px;
    color: #4A4A4A;
}

.romm_cost{
    font-size: 10px;
    color: #9B9B9B;
   

}







/* last discount container */

.discount_container{
    padding: 11px 20px;
    background-color: rgb(196, 236, 227);
    border-radius: 4px;
    display: flex;
    align-items: center;
    /* width: 62%; */
    margin: auto;
    margin-bottom: 20px;
}

.infoicon{
    margin: 0px 10px 0px 0px ;
    color: #1A7179;
   
}

.discount_title{
    color: #1A7179;
    font-size: 14px;
    font-weight: bold;
}